.review
    padding: 80px 0px
    &__title
        text-align: center
        font-family: Lora
        font-style: italic
        font-weight: normal
        font-size: 28px
        line-height: 40px
        text-align: center
        color: #31364E
    &__block
        display: flex
        justify-content: center
        align-items: center
    &__name
        padding-left: 15px
        font-family: Work Sans
        font-style: normal
        font-weight: 600
        font-size: 26px
        line-height: 34px
        color: #31364E

@media (max-width: 414px)
    .review
        padding: 40px 0px
        &__title
            font-size: 18px
            line-height: 30px
            margin-bottom: 20px
        &__name
            font-size: 16px
            line-height: 24px