.skills
    &__title
        margin: 80px 0px 30px 0px
        font-family: Lora
        font-style: normal
        font-weight: normal
        font-size: 28px
        line-height: 40px
        color: #31364E
        &_desc
            font-family: Work Sans
            font-style: normal
            font-weight: 600
            font-size: 18px
            line-height: 28px
            color: #31364E
            margin: 20px 0px 10px 0px
    &__desc
        font-family: Work Sans
        font-style: normal
        font-weight: normal
        font-size: 16px
        line-height: 22px
        margin-bottom: 80px

@media (max-width: 576px)
    .skills
        &__title
            font-size: 22px
            line-height: 26px