@import "fonts"
@import "variables"
@import "typography"
@import "header"
@import "footer"
@import "navbar"
@import "sections/online"
@import "sections/skills"
@import "sections/meet"
@import "sections/slider"
@import "sections/experts"
@import "sections/price"
@import "sections/review"
@import "sections/toolkit"
@import "sections/link"
@import "sections/policy"
body
    overflow-x: hidden
.container
    max-width: 1170px
    margin: 0 auto
    padding: 0

@media ( max-width: 1200px)
    .container
        max-width: 900px

@media ( max-width: 992px)
    .container
        max-width: 100%
        padding: 0 50px
    
@media ( max-width: 576px)
    .container
        max-width: 100%
        padding: 0 20px 